<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
</head>
<body>


<table th:object="${dummyTable}" id="userTable" border="1">
    <tr>
        <th>LedgerNumber</th>
        <th>MatCost</th>
        <th>WorkCost</th>
        <th>LeaseWorkCost</th>
    </tr>
    <tr th:each="row :${dummyTable}">
        <td  th:text="${row.getKey()}"></td>
        <td  th:text="${row.getValue().get(0)}"></td>
        <td  th:text="${row.getValue().get(1)}"></td>
        <td  th:text="${row.getValue().get(2)}"></td>
    </tr>
</table>



</body>
</html>